.header-title {
    font-size: 1.8em;
    color: #4A90E2; 
    font-weight: bold;
  }
  
  .header-menu {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    margin-left: auto; 
  }
  
  .header-button {
    font-size: 1em;
    color: #333; 
    padding: 10px 15px; 
    transition: color 0.3s; 
  }
  
  .header-button:hover {
    color: #4A90E2; 
    text-decoration: underline; 
  }


  ion-radio-group {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }

  ion-list {
      text-align: center; 
  }

  .custom-radio {
      --padding-start: 0; 
      --padding-end: 0; 
      --inner-padding-end: 0;
  }

  .custom-radio-input {
      transform: scale(0.8); 
  }

  ion-label {
      font-size: 14px; 
      color: var(--ion-color-medium); 
  }

  
  